# Auto detect text files and perform LF normalization
* text=auto
C:/Users/Zane[[:space:]]But[[:space:]]for[[:space:]]Work/Documents/GHStuff/Mixtape-Engine-Rework/fmod/mixtape/Assets/GeoStar.wav filter=lfs diff=lfs merge=lfs -text
